.git
.gitignore
.env
.env.*
!.env.example
.qodo
.sixth
node_modules
vendor
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/*.key
public/storage
bootstrap/cache/*.php
docs
*.md
ngrok.exe
*.bat
test_mail.sh
test_mail.php

